@model ProgrammersBlog.Entities.Concrete.AboutUsPageInfo
@{
    Layout = "_LayoutAbout";
    ViewBag.Title = "Hakkında";
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Tags = Model.SeoTags;
    ViewBag.Author = Model.SeoAuthor;
}
<div class="container-fluid">
    <div class="jumbotron mt-4">
        <div class="d-flex align-items-center h-100">
            <div class="container text-center py-5">
                <img src="~/img/userImages/defaultUser.png" alt="ProgrammersBlogLogo" class="img-fluid mb-1" style="max-width:250px;max-height:250px"/>
                <div class="container mt-4 mb-5">
                    <h2 class="text-center py-3 mb-5">@Model.Header</h2>
                    <div class="text-center">
                        <p>@Model.Content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
