@using Microsoft.Extensions.Options
@using ProgrammersBlog.Entities.Concrete
@inject IOptionsSnapshot<WebsiteInfo> WebSiteInfo
@{ var websiteInfo = WebSiteInfo.Value; }
@*@model ProgrammersBlog.Mvc.Models.IndexViewModel*@

<header id="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                    <ul>
                        <li><a href="https://www.facebook.com/berkaykucuk1907"><i class="fab fa-facebook-f" style="background:black;"></i></a></li>
                        <li><a href="https://www.instagram.com/berkaykucuk0/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/berkaykucuk0"><i class="fab fa-twitter"></i></a></li>

                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                    <a href="tel:05350132552"><span class="lnr lnr-phone-handset"></span> <span class="text">0 (535) 013 2552</span></a>
                    <a href="mailto:berkay.kucuk@ogr.sakarya.edu.tr"><span class="lnr lnr-envelope"></span> <span class="text">berkay.kucuk@ogr.sakarya.edu.tr</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="" title=""></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li><a asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                    <li><a asp-controller="Article" asp-action="GetAllArticles">Makaleler</a></li>

                    <li class="menu-has-children">
                        <a href="">Kategoriler</a>
                        @*<ul>
                        @foreach (var category in Model.CategoryListDto.Category)
                        {
                        <li><a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id"></a>@category.Name</li>
                        }
                    </ul>*@
                    </li>
                    <li class="menu-has-children">
                        <a href="#">Pages</a><i class="fas fa-caret-down"></i>
                        <ul>
                            <li><a href="course-details.html">Course Details</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li class="menu-has-children">
                                <a href="">Level 2 </a>
                                <ul>
                                    <li><a href="#">Item One</a></li>
                                    <li><a href="#">Item Two</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="Contact">İLETİŞİM</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
            <div id="logo">

                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" asp-controller="Article" asp-action="Search" method="get">
                    <div class="input-group">
                        <input class="form-control" name="keyword" type="text" placeholder="Arama..." aria-label="Search" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="background-color:#f7631b;border-color:#f7631b" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <!-- Navbar -->
            </div>
        </div>
    </div>
</header><!-- #header -->