<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Fancy Slider</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="~/css/slider.css">

</head>

@RenderBody()
</html>